<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>token</title>
</head>
<body>
    <h1>Create Url Token</h1><br>
    <form action "/CreateUrl" method = "POST">
        create a new url token for user register<br>
        <input type="submit" name="create" value="create"><br>
        go to the url link created<br>
        <input type="submit" name="next" value="next"><br>
        go to the user list<br>
        <input type="submit" name="list" value="list">
    </form>
</body>
</html>
