<!DOCTYPE html>
<html>
<head>
    <title>Qrio管理者画面</title>
    <!-- Bootstrap CSSの追加 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 20px;
        }
        .container {
            max-width: 600px;
            margin: auto;
        }
        .btn-custom {
            margin-bottom: 10px;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container text-center">
        <h1>Qrio管理者画面</h1>
        <!-- ボタンにBootstrapのクラスを適用 -->
        <button onclick="location.href='/admin/list_users'" class="btn btn-secondary btn-custom">ユーザー一覧</button>
        <button onclick="location.href='/admin/create_user'" class="btn btn-secondary btn-custom">ユーザーを招待</button>
        <button onclick="location.href='/admin/CreateUrl'" class="btn btn-secondary btn-custom">URLToken作成</button>
    </div>
    
    <!-- Bootstrap JSの追加 -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
