<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>token</title>
    <!-- Bootstrap CSSの追加 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 600px;
            padding-top: 20px;
        }
        .btn-custom {
            margin-bottom: 50px;
            width: 100%;
        }
        .btn-back {
            width: 50%
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Create Url Token</h1>
        <form action="/admin/CreateUrl" method="POST" class="mt-4">
            <p>Create a new URL token for user registration</p>
            <input type="submit" name="create" value="create" class="btn btn-primary btn-custom">
            <p>Go to the URL link created</p>
            <input type="submit" name="next" value="next" class="btn btn-primary btn-custom">
            <p>Go to the user list</p>
            <input type="submit" name="list" value="list" class="btn btn-primary btn-custom">
        </form>
        <div class="d-flex justify-content-center">
            <button onclick="location.href='/admin'" class="btn btn-secondary btn-back mt-3">Back</button>
        </div>

        
    </div>

    <!-- Bootstrap JSの追加 -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>